<!-- La Paella Section -->
<section class="h-20 pt-5 text-white">
    <div class="md:max-w-screen-lg mx-auto px-4 flex justify-between">
        <h1 class="text-4xl font-bold">La paella</h1>
    </div>
</section>

<div class="max-w-screen-lg mx-auto p-3 text-white">
    <div class="flex flex-col items-center">
        <img src="assets/fotos/tompaella.JPG" alt="Paella" class="h-full w-full max-w-96 object-cover mx-auto rounded shadow-lg mb-5">
        <a href="https://wikipaella.org/manual-para-comer-paella/" target="_blank"
            class="bg-white hover:bg-green-100 text-center px-4 py-2 rounded text-green-800 mb-5">Manual para comer paella (Wikipaella)</a>
        <p class="bg-white text-justify leading-6 p-4 rounded text-green-800 max-w-screen-lg">
            Si usted come de la paella debe saber:
            <br>
            1.- La paella es como una caja de quesitos en porciones. Desde el borde en ángulo hacia el centro,
            respetando escrupulosamente el tajo del vecino. Conviene mantener el “cavallonet”, una linde de separación,
            un muro infranqueable mientras sea posible.
            <br>
            2.- Los comensales deben estar distribuidos alrededor de la paella de forma equidistante y accesible.
            <br>
            3.- No es conveniente que las personas muy comedoras estén juntas, se las debe intercalar entre los que
            tengan menor apetito.
            <br>
            4.- El cubierto más apropiado para comer de la paella es la cuchara. El tenedor es cursi.
            <br>
            5.- Si un comensal desea exprimir unas gotas de limón, está en su derecho, pero deberá contar con la
            aprobación de sus vecinos, a los que procurará no salpicar. El limón se utilizaba antaño para
            desengrasar los dedos o limpiar el tizne.
            <br>
            6.- La comida empieza tras el reposo preceptivo del arroz, y la proclamación solemne del patriarca, o
            persona de mayor rango social: “¡Vinga que es gela l’arròs!” (Tr.: ¡Venga que se enfría el arroz!)
            <br>
            7.- Si la paella está buena, el elogio al cocinero se hará de forma continuada cada dos cucharadas,
            durante toda la comida. Algunas frases de uso frecuente son: “Cada gra d’arròs val vint duros” (Tr.: Cada
            grano de arroz vale 60 céntimos de euro), “T’ha eixit ben senceret l’arròs” (Tr.: Te ha salido bien
            enterito el arroz), “Cague en la mare que et va parir, això està rebó” (Tr.: Celebro que tu madre te
            enseñara a cocinar la paella de forma tan exquisita). Hay muchas más expresiones tan populares como estas.
            <br>
            8.- Los tropezones, verduras y trozos de carne que no apetecen al comensal, se pueden depositar
            delicadamenteenelcentrodela paella para que lo disfrute otro.
            <br>
            9.- Si un trozo de carne sale de la paella no puede volver a la misma, bajo ningún concepto, mucho menos en
            forma de huesos.
            <br>
            10.- Si alguien invade el espacio de otro comensal, y es la primera vez, puede que perciba un pequeño gesto
            de desaprobación acompañado del monosílabo “Xé!” seguido de “fes el favor”.
            <br>
            Si reincide en su comportamiento transgresor, podría ser amonestado con mayor intensidad bajo los
            siguientes términos. “Eres poc fill de puta” (Tr.: Eres un poco malandrín). Aunque pueda parecer una
            afrenta, en Valencià es sinónimo de trato cordial y camaradería.
            <br>
            11.- Se entiende que un comensal abandona, cuando apoya la cuchara en el borde del caldero, o dice: “Estic
            fart, ja no puc més!” (Tr.: Estoy harto, no puedo más). En ese momento su espacio puede ser ocupado por
            sus inmediatos vecinos, siempre con educación, derribando el cavallonet y rompiendo la suculenta frontera,
            pero sin arramblar con todo.
            <br>
            12.- Es de muy mal gusto girar la paella para acceder a otros puntos donde aún quede arroz. El único que
            podía hacer eso era Joan Monleón.
            <br>
            13.- Si la paella baila por falta de estabilidad, y algún voluntario se ofrece a sostener el asa para
            evitar que se mueva. Se mantendrá su copa siempre llena de bebida.
            <br>
            14.- Cuando la cuchara toque el fondo metal y aparece el anhelado “Socarraet”, hay que mantener la calma y
            repartir el oro negro de forma equitativa para no acabar “com el ball Torrent”.
            <br>
            15.- La comida finaliza cuando los comensales se retiran o ya no queda nada en el caldero, señal
            indiscutible de que la paella estaba buena.
            <br>
            Nota: La compañera ideal de una buena paella es la ensalada valenciana cuyo protocolo de ataque se rige por
            parámetros similares. Y de postre recomendamos, si es verano melón o sandía, y durante el resto del año
            naranjas.
        </p>
    </div>
</div>