<!-- Ubicación Section -->
<section class="h-20 pt-5 text-white">
    <div class="md:max-w-screen-lg mx-auto px-4 flex flex-col justify-between">
        <h1 class="text-4xl font-bold">Ubicación</h1>
        <h2 class="text-xl font-bold">Plaza Pintor Sorolla</h2>
    </div>
</section>

<!-- Map Section -->
<div class="max-w-screen-lg mx-auto p-3 text-white">
    <div class="relative" style="padding-bottom: 56.25%; height: 0; overflow: hidden;">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d191.06226185722815!2d-0.050030090352308605!3d39.98619048503762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1718137699136!5m2!1ses!2ses"
            width="100%" height="100%" style="border:0; position:absolute;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>


<app-la-paella></app-la-paella>