<div class="bg-green-800 border-b border-emerald-700">
    <nav class="bg-green-800 p-3 flex justify-between max-w-screen-lg mx-auto w-full">
        <ul class="flex justify-start items-center space-x-4">
            <li><a href="#" class="text-white hover:text-gray-300">Vaya Pintas!</a></li>
            <li><a href="#" class="text-white hover:text-gray-300">La colla</a></li>
            <li><a href="#" class="text-white hover:text-gray-300">La gente</a></li>
            <li><a href="#" class="text-white hover:text-gray-300">Magdalena</a></li>
            <li><a href="#" class="text-white hover:text-gray-300">Fotos</a></li>
        </ul>
        <img src="assets/vaya_logo.svg" alt="" class="size-10 filter invert">
    </nav>
</div>