<section class=" bg-green-800 relative">
    <div class="md:max-w-screen-lg  mx-auto xl:px-4 flex justify-between h-dvh">
        <div class="h-full flex flex-col justify-end pb-20 xl:pb-10 p-10 z-10">
            <h1 class="text-4xl font-bold text-white">Vaya Pintas!</h1>
            <h2 class="text-lg text-white">Descubre más sobre nosotros.</h2>
            <a href="#" [routerLink]="['/la-colla']" class="bg-white hover:bg-green-100 text-center px-4 py-2 rounded w-32">Vamos allá!</a>
        </div>
        <!-- <img src="assets/vaya_logo.svg" alt="" class="size-40 place-self-end filter invert h-full"> -->
        <img src="assets/Banner.png" alt="" class="absolute top-0 left-0 object-cover h-dvh w-full xl:rounded-xl">
    </div>
</section>

<app-next-event></app-next-event>
<app-stats></app-stats>