<section class=" pt-5 bg-green-800">
    <div class="md:max-w-screen-lg mx-auto px-4 flex justify-between">
        <div class="h-full flex flex-col justify-center">
            <h1 class="text-4xl font-bold text-white">Vaya Pintas!</h1>
            <h2 class="text-lg text-white">Descubre más sobre nosotros.</h2>
            <a href="#" [routerLink]="['/la-colla']" class="bg-white hover:bg-green-100 text-center px-4 py-2 rounded w-32">Vamos allá!</a>
        </div>
        <img src="assets/vaya_logo.svg" alt="" class="size-40 place-self-end filter invert h-full">
        </div>
</section>

<app-next-event></app-next-event>
<app-stats></app-stats>