/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Lexend", sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(22 101 52);
}